### NotepadPP ###
# Notepad++ backups #
*.bak

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

#Ignore main AtE mod files
/After the End Fan Fork
/After the End Fan Fork - Chinese Faces DLC
/After the End Fan Fork - East African Faces DLC
/After the End Fan Fork - English and German Faces DLC
/After the End Fan Fork - Holy Fury DLC
/After the End Fan Fork - Mongol Faces DLC
/After the End Fan Fork - Sunset Invasion DLC
/After the End Fan Fork - West African Faces DLC
*.mod
!After the End Orientalis.mod
